Package: super-bombinhas
Priority: optional
Version: 1.0.0
Architecture: all
Maintainer: Victor David Santos <victordavidsantos@gmail.com>
Installed-Size: 41412
Depends: build-essential, libsdl2-dev, libgl1-mesa-dev, libopenal-dev, libsndfile-dev, libmpg123-dev, libgmp-dev, libfontconfig1-dev, ruby, ruby-dev
Homepage: https://github.com/victords/super-bombinhas
Section: games
Description: Super Bombinhas
 A platformer adventure game where you play as heroic little bombs.
