Package: super-bombinhas
Priority: optional
Version: 0.8.0
Architecture: all
Maintainer: Aleva Games <contact@alevagames.com>
Installed-Size: 34032
Depends: build-essential, libsdl2-dev, libgl1-mesa-dev, libopenal-dev, libsndfile-dev, libmpg123-dev, libgmp-dev, libfontconfig1-dev, ruby, ruby-dev
Homepage: http://alevagames.com
Section: games
Description: Super Bombinhas
 A platformer adventure game (demo version).
